/* animacao de intersection */

/* apresentacao */

.visible{

    transform: translateX(0)  scale(1) ;
    opacity: 1;
    filter: blur(0px);

    transition-property: transform , scale , filter;
    transition-duration:  1.2s , 1s , 1.2s;
    transition-delay: 200ms;
    

    

}


.invisible{

    transform: translateY(-100vh)  scale(0);
    opacity: 0;
    filter: blur(10px);
    transition-property: transform , scale , filter;
    transition-duration:  1.7s , 2s , 1s;
    

}
  


/* quem sou */

.quemVisible{

    transform: translateX(0);
    transition: transform 1s , filter 1.8s;
    filter: blur(0);
    transition-delay: 100ms;
    
}

.quemInvisible{

    transform: translateX(-200vw);
    filter: blur(10px);
    transition: all 1s;

}



/* mostrar menu */

.recolherMenu{

    width: 0%;
    transition: all 1s;

}

.mostrarMenu{

    width: 80%;
    transition: all 1s;

}


.opacidadeZero{

    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
    transform: translatey(-200px);
}
    

.opacidadeUm{

    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transition-delay: 300ms;
    transform: translatey(0);
}





/* animacao btn fechar */

.animaBotao{

   
    animation-name: animaFechar;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
    
    
    

}

.animaBotaoOff{

    animation:none;
    
}


.imgDiaNoite{

    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: none;
    border: none;
    outline: 2px solid var(--verde);
    border-radius: 100%;
    padding: 5px;
    
}
    
   


    

.imgDiaNoite:hover{

    outline: 1px solid var(--verde);
    filter: drop-shadow(0px 0px  20px var(--verde));
    transition: all 500ms;
    
}




/* topo */

.mdDia{

    background-color: rgb(255, 255, 255);
    outline: 1px solid black;
    color: black;
    transition: all 800ms;
    
}
    


.mdDia span{

    color: black;
}

.mdDia li{

    color: black;
}



.mdDia h1{

    color: rgb(0, 0, 0);
}

.mdDia p{

    color: black;
    font-weight: bold;
}


.mdNoite{

background-color: var(--padrao);
color: white;
transition: all 800ms;

        
    

}


/* apresentação */

.mdApresDia{

    background-color: white;
    color: black;
    transition: all 800ms;
    
}


.mdApresDia p {

    color: black;
    font-weight: bold;
}

.mdApresDia h1{
    
    color: black;
}

.mdApresNoite{

    background-color: var(--padrao);
    color: white;
    transition: all 800ms;
}

.mdApresNoite button:nth-child(1){

    color: white;
    background-color: var(--verde);
    outline: none;
    border: none;
}

.mdApresNoite button:nth-child(1):hover{

    color: var(--verde);
    background-color: white;
    outline: none;
    border: none;
}

.mdApresDia button:nth-child(1){

  background-color: var(--verde);
  border: none;
  color: white;
  border: 2px solid transparent;
    
}

.mdApresDia  button:nth-child(1):hover{

    border: 2px solid var(--verde);
    background-color: #dcd9c9;
    color: black;
    
}



.mdApresNoite button:nth-child(2){

    color: black;
    background-color: white;
    outline: none;
    border: 2px solid transparent;
}



.mdApresNoite button:nth-child(2):hover{

    color: var(--verde);
    background-color:transparent;
    outline: none;
  
    border: 2px solid var(--verde);
}




.mdApresDia button:nth-child(2){

    color: black;
    background-color: white;
    outline: none;
    border: 2px solid var(--verde);
}

.mdApresDia button:nth-child(2):hover{

    color: var(--verde);
    background-color:transparent;
    outline: none;
  
    border: 2px solid var(--verde);
}


.iconWhats{

    width: 70px;
    height: fit-content;
    position: fixed;
    bottom: 10px;
    left: 10px;

    animation-name: whatsMove;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* quem */

.mdQuemDia{

    background-color: white;
    color: black;
    transition: all 800ms;

}



.mdQuemDia h1 {

    color: black;
}

.mdQuemDia p {

    color: black;
    
}

.mdQuemNoite{

    background-color: var(--padrao);
    color: white;
    transition: all 800ms;
}


/* habilidades */

.mdDiaHab{

background-color: white;
color: black;
transition: all 800ms;

}

.mdDiaHab h1 {

    color: black;
}

.mdNoiteHab{

    background-color:var(--padrao);
    transition: all 800ms;

}

/* educacao */

.mdDiaEdu{

    background-color: white;
    color: black;
    transition: all 800ms;
}

.mdDiaEdu h1{

    color: black;
}

.mdDiaEdu p {

    color: rgb(0, 0, 0);
    font-weight:500;
}

.mdDiaEdu span {

    color: white;
}

.mdNoiteEdu{

    background-color: var(--padrao);
    color: white;
    transition: all 800ms;
}

.mdNoiteEdu p {

    font-weight: 400;
    
    color: rgb(255, 252, 252);
}

.mdNoiteEdu span {

    color: white;
}

.mdNoiteEdu h1 {

    color: white;
}



/* projetos */

.mdDiaProj{

    background-color: white;
    transition: all 800ms;
}

.mdDiaProj h1 {

    color: black;
   
}

.mdDiaProj p {

    color: black;
}

.mdDiaProj span {

    opacity: 1;
    font-weight: bold;
    color: black
}

.mdNoiteProj{
    background-color: var(--padrao);
    transition: all 800ms;
}

.mdNoiteProj span {

    color: var(--verde);
}



/* contatos */

.mdDiaCont{

    background-color: white;
    transition: all 900ms;


    & button{

        
        background-color: var(--verde);
        outline: 2px solid transparent;
        color: white;
        font-weight: bold;
         transition: all 500ms;
    }


    & button:hover{

        background-color: #c7c3b9d8;
        outline: 2px solid var(--verde);
        transition: all 500ms;
        color: black;
        font-weight: bold;
        transform: translateY(5px);
    }

    & h1{

        color: black;    
    }

    & input{

        background-color:#151618e1;
        transition: all 500ms;

    }

    & textarea{

        background-color: #151618e1;
        transition: all 500ms;
    }
}


.mdNoiteCont{

    background-color: var(--padrao);
    transition: all 900ms;

    & button{

        color: white;
        font-weight: bold;
        background-color: var(--verde);
        outline: 2px solid transparent;
    }

  
    
    & button:hover{
        
        outline: 2px solid var(--verde);
        background-color: transparent;
        font-weight: bold;
        transform: translateY(5px);
    }

    
    & h1{

        color: white;
       
    }
    

}


/* rodape */


.mdDiaRodape{

    background-color: white;
    transition: all 900ms;


    & span{

        color: black;
        font-weight: 500;
    }

}

.mdNoiteRodape{

background-color: var(--padrao);
transition: all 900ms;


    & span{

        color: white;
        font-weight: 500;
        
    }


}

/* Nav Escondida */

.mdDiaEscondida{

    background-color:#b4b2b2;

  

    & li{

        color: black;
       font-weight: bold;
       letter-spacing: 2px;
    }




}

.mdNoiteEscondida{

    background-color:#2D2D2D;;

    & li{

        color: white;
        font-weight: bold;
        letter-spacing: 2px;

    }


}


/* animacao botao fechar */

@keyframes animaFechar {

    from{

        transform: translateX(-320px);
        opacity: 0;
    }
    to{

        transform: translateX(0);
        opacity: 1;
    }
}


@media (prefers-color-scheme :noite){


}


@keyframes whatsMove {

    from{

       transform: translateY(-5px); 

    }
    to{
        
        transform: translateY(5px); 

    }
    
}



   