.boxPai{

    text-align: center;
    color: white;
    width: 100%;
    padding: 15px 10px;
  
  
}
    
    

.boxPai span{

 display: block;
 padding: 20px 10px;
    
}

.boxPai span strong{

    font-weight: bold;
    color: var(--verde);
    font-size: 1.1rem;
    
}

.boxPai .boxImg{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}

.boxImg .icon{

    width: 30px;
    height: 30px;
   color: var(--verde);
   transition: all 500ms linear;
}



.boxImg .icon:hover{

    
    transform: translateY(-10px);
    transition: all 500ms linear;

}





    
    
    