.boxPai{

    text-align: center;
    color: white;
    padding-bottom: 60px;
    /* background-color: var(--padrao); */
    position: relative;
  
}


.boxPai .titulo{

    padding: 20px 10px 40px 10px;
    text-transform: uppercase;
    text-decoration: underline 2px var(--verde);
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
    font-size: 2.1rem;
   
   
}

.boxPai span{

   
    display: block;
    padding-top: 115px;
    /* color: var(--verde); */
  

    
}

    



.boxPai .boxProjetos{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1500px;
    margin: 0px auto;
    padding: 20px;
    overflow: auto;
    
}
    
    

   


    

       
    
   

.boxProjetos .moldura{

    
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px 8px 8px 8px;
    text-align: left;
    position: relative;
    z-index: 0;
    cursor: pointer;
    
}

   
  
 


    

.boxProjetos .moldura:hover{

  box-shadow: 0px 0px 15px var(--verde);  

}




@media screen and (max-width:955px) {

    .boxPai .boxProjetos{

        grid-template-columns: repeat(3 , 1fr);

    }

}


@media screen and (max-width:700px) {

    .boxPai .boxProjetos{

        grid-template-columns: repeat(auto-fit , 300px);

    }

}
    
    
    
@media (orientation:portrait) and (max-width:664px){


   .boxPai .boxProjetos {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    overflow: auto;
        
    }

    .boxPai .boxProjetos::-webkit-scrollbar{

       
        height: 3px;

    }

    .boxPai .boxProjetos::-webkit-scrollbar-thumb{

       
       border-radius: 20px;
       background-color: rgba(128, 128, 128, 0.521);

    }

    .boxPai .boxProjetos .moldura{

        width: 400px;
        flex: none;
    }


}